:root {
  --button-bg: rgb(67, 75, 236);
  --btnTextColor: rgb(245, 232, 232);
  --grey-border: #e8e8e8;
}

.form-wrap {
  margin-left: 7%;
}

.add-book-form {
  display: flex;
  column-gap: 1%;
  width: 88%;
  padding-bottom: 140px;;
}


.hline {
  border: solid 1px var(--grey-border);
  margin-left: 7.8%;
  margin-right: 11.7%;
}

.title {
  width: 70%;
  border: 1px solid silver;
  padding: 11px;
}

.author {
  width: 30%;
  border: 1px solid silver;
  padding: 11px;
}
